In [1]:
import pandas as pd
import matplotlib.pyplot as pltxx
import numpy as np

In [2]:
#from google.colab import files
#Files=files.upload()

In [3]:
Data=pd.read_csv("Data_EmplChurnPrediction.csv")
#data=pd.read_excel("Final Data g colab and minitab.XLSX")

In [4]:
Data

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,...,80,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,...,80,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,...,80,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,...,80,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,...,80,1,6,3,3,2,2,2,2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,...,80,1,17,3,3,5,2,0,3,No
1466,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,...,80,1,9,5,3,7,7,1,7,No
1467,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,...,80,1,6,0,3,6,2,0,3,No
1468,49,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,...,80,0,17,3,2,9,6,0,8,No
1469,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,2,...,80,0,6,3,4,4,3,1,2,No

# Training and Classification

In [5]:
Data.columns.values

array(['Age', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition'],
      dtype=object)

In [6]:
CatVar =  ['Department',
       'EducationField', 'Gender',
       'JobRole', 'MaritalStatus','BusinessTravel' ]
Data= pd.get_dummies(Data, columns = CatVar, drop_first=False)

In [7]:
Data['Over18']

0       Y
1       Y
2       Y
3       Y
4       Y
       ..
1465    Y
1466    Y
1467    Y
1468    Y
1469    Y
Name: Over18, Length: 1470, dtype: object

In [8]:
X2=Data[['Age',  'DailyRate', 'DistanceFromHome',
       'Education', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Male',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Married', 'MaritalStatus_Single']]
X1=Data[['Age','DistanceFromHome',
       'EnvironmentSatisfaction',  'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Gender_Male',
       'MaritalStatus_Married', 'MaritalStatus_Single','BusinessTravel_Travel_Frequently','BusinessTravel_Travel_Rarely']]
y1=Data['Attrition']

In [9]:
#Data

Oversampling

In [10]:
from imblearn.over_sampling import SMOTE
oversampler=SMOTE(k_neighbors=4)
X, y = oversampler.fit_resample(X1, y1)

In [11]:
#corr = X.corr(method = 'pearson')
#corr

In [12]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Multinomial NB

In [13]:
# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train)# Predicting the Test set results
y_pred = classifier.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.56      0.52      0.54       250
         Yes       0.54      0.58      0.56       244

    accuracy                           0.55       494
   macro avg       0.55      0.55      0.55       494
weighted avg       0.55      0.55      0.55       494

In [14]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [15]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.56      0.52      0.54       250
         Yes       0.54      0.58      0.56       244

    accuracy                           0.55       494
   macro avg       0.55      0.55      0.55       494
weighted avg       0.55      0.55      0.55       494

In [16]:
# Making the Confusion Matrix
#from sklearn.metrics import confusion_matrix
##print ("Confusion Matrix:\n",cm)

# Bernoulli NB

In [17]:
# Bernoulli NB
# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import BernoulliNB
classifier = BernoulliNB()
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
#from sklearn.metrics import confusion_matrix
#cm = confusion_matrix(y_test, y_pred)
#print ("Confusion Matrix:\n",cm)

# Accuracy, Precision and Recall
#from sklearn.metrics import accuracy_score
#from sklearn.metrics import precision_score
#from sklearn.metrics import recall_score
#score1 = accuracy_score(y_test,y_pred)
#score2 = precision_score(y_test,y_pred)
##score3= recall_score(y_test,y_pred)
#print("\n")
#print("Accuracy is ",round(score1*100,2),"%")
#print("Precision is ",round(score2,2))
#print("Recall is ",round(score3,2))
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.65      0.69      0.67       250
         Yes       0.66      0.61      0.64       244

    accuracy                           0.65       494
   macro avg       0.65      0.65      0.65       494
weighted avg       0.65      0.65      0.65       494

In [18]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.65      0.69      0.67       250
         Yes       0.66      0.61      0.64       244

    accuracy                           0.65       494
   macro avg       0.65      0.65      0.65       494
weighted avg       0.65      0.65      0.65       494

# Logistic Regression

In [19]:
# Logistic Regression

# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.65      0.69      0.67       250
         Yes       0.66      0.61      0.64       244

    accuracy                           0.65       494
   macro avg       0.65      0.65      0.65       494
weighted avg       0.65      0.65      0.65       494

# SVM

In [21]:
from sklearn import svm
classifier = svm.SVC()
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.59      0.49      0.54       250
         Yes       0.56      0.66      0.60       244

    accuracy                           0.57       494
   macro avg       0.58      0.57      0.57       494
weighted avg       0.58      0.57      0.57       494

# KNN

In [22]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=7)

classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.80      0.58      0.67       250
         Yes       0.66      0.85      0.74       244

    accuracy                           0.71       494
   macro avg       0.73      0.71      0.71       494
weighted avg       0.73      0.71      0.71       494

Random Forest

In [25]:
#!pip install sklearn.trees

ERROR: Could not find a version that satisfies the requirement sklearn.trees (from versions: none)
ERROR: No matching distribution found for sklearn.trees

In [27]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)

# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(X_train, y_train)

# performing predictions on the test dataset
y_pred = clf.predict(X_test)



from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.87      0.92      0.89       250
         Yes       0.91      0.86      0.88       244

    accuracy                           0.89       494
   macro avg       0.89      0.89      0.89       494
weighted avg       0.89      0.89      0.89       494

SG Boost

In [28]:
y_train=y_train.replace("Yes", 1).replace("No", 0)
y_test=y_test.replace("Yes", 1).replace("No", 0)

In [ ]:
from xgboost import XGBClassifier

In [38]:
from xgboost import XGBClassifier

# declare parameters
params = {
            'objective':'binary:logistic',
            'max_depth': 4,
            'alpha': 10,
            'learning_rate': 1.0,
            'n_estimators':100
        }
# instantiate the classifier
xgb_clf = XGBClassifier(**params)
# fit the classifier to the training data
xgb_clf.fit(X_train, y_train)
y_pred = xgb_clf.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

ModuleNotFoundError: No module named 'xgboost'